node_modules
docs
.pnpm-store
dist
.next
.turbo
*.log
.DS_Store
src-tauri/target
apps/desktop/src-tauri/target
apps/desktop/dist
coverage
.env
.env.local
*.tsbuildinfo
.idea/workspace.xml
.idea/shelf/
releases/
*.dmg
*.zip
*.key
*.key.pub
